.about {
    /* border: 2px solid gray; */
    height: 50vh; 
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.about-right {
    width: 55%;    
    /* border: 1px solid gray; */
}

.about-left {
    width: 40%;
    /* border: 1px solid gray; */
}